# Initial Metrics of the Data

In [17]:
# import basic libraries
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
# loading data

ratings_data = pd.read_csv('ratings_small.csv.zip')
metadata = pd.read_csv('movies_metadata.csv.zip')
links_data = pd.read_csv('links.csv')

/tmp/ipykernel_24823/3465485731.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('movies_metadata.csv.zip')

The columns obtained for each data frame are displayed below.

In [19]:
ratings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [15]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [20]:
links_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  45843 non-null  int64
 1   imdbId   45843 non-null  int64
 2   tmdbId   45624 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.0 MB

We can observe that metadata provides lots of information about each movie, giving us a lot of freedom when ploting and visualizing the data. Firstly, we should preprocess the data and do the corresponding mappings within the 3 dataframes.

Notice the following mappings and column relationships:

- The **movieId** column in *links_data* maps to the **movieId** column in *ratings_data*.

- The **imdbId** column in *links_data* maps to the **imdb_id** column in *metadata*.

#### Preprocessing the Metadata
In this next section, we preprocessed the data using the steps listed below. 

1. Removed rows from the metadata data frame where the imdb_id was null.
2. Convert each element of the imdb_id column in metadata to an int by applying a lambda function.
3. Merge metadata and links_data by joining the data frames on the imbd_id and imdbId columns respectively.

In [22]:
ratings_data['userId'] = ratings_data['userId'].astype('int32')

In [23]:
metadata = metadata[metadata['imdb_id'].notna()]

def remove_characters(string):
    
    return ''.join(filter(str.isdigit, string))
metadata['imdb_id'] = metadata['imdb_id'].apply(lambda x: int(remove_characters(str(x))))

In [25]:
full_metadata = pd.merge(metadata, links_data, left_on='imdb_id', right_on='imdbId')
full_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45383 entries, 0 to 45382
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45383 non-null  object
 1   belongs_to_collection  4486 non-null   object
 2   budget                 45383 non-null  object
 3   genres                 45383 non-null  object
 4   homepage               7765 non-null   object
 5   id                     45383 non-null  object
 6   imdb_id                45383 non-null  int64
 7   original_language      45372 non-null  object
 8   original_title         45383 non-null  object
 9   overview               44433 non-null  object
 10  popularity             45380 non-null  object
 11  poster_path            45005 non-null  object
 12  production_companies   45380 non-null  object
 13  production_countries   45380 non-null  object
 14  release_date           45302 non-null  object
 15  revenue                45380 non-null  float64
 16  runtime                45125 non-null  float64
 17  spoken_languages       45380 non-null  object
 18  status                 45300 non-null  object
 19  tagline                20388 non-null  object
 20  title                  45380 non-null  object
 21  video                  45380 non-null  object
 22  vote_average           45380 non-null  float64
 23  vote_count             45380 non-null  float64
 24  movieId                45383 non-null  int64
 25  imdbId                 45383 non-null  int64
 26  tmdbId                 45383 non-null  float64
dtypes: float64(5), int64(3), object(19)
memory usage: 9.7+ MB

'full_metadata' is a dataframe that can be used to retrieve the metadata for a movie based on the movie ID alone.

#### Creating a Spotlight Interactions Dataset

Spotlight has a dataset object that we need to use in order to train models on our data, called 'Interactions'. Below, we create an Interactions object by supplying the follownig parameters, all of wich must be Numpy arrays:

- **user_ids** - the user IDs in the rating data
- **item_ids** - the item IDs in the rating data
- **ratings** - the corresponding ratings in the rating data
- **timestamps (optional)** - the timestamps for each user/item interaction

In [26]:
from spotlight.interactions import Interactions

dataset = Interactions(user_ids= ratings_data['userId'].values,
                       item_ids= ratings_data['movieId'].values,
                       ratings = ratings_data['rating'].values,
                       timestamps= ratings_data['timestamp'].values)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,movieId,imdbId,tmdbId
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1,114709,862.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,2,113497,8844.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,3,113228,15602.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,4,114885,31357.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,5,113041,11862.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45378,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,176269,6209470,439050.0
45379,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,176271,2028550,111109.0
45380,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,176273,303758,67758.0
45381,False,NaN,0,[],NaN,227506,8536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,[],Released,NaN,Satan Triumphant,False,0.0,0.0,176275,8536,227506.0
45382,False,NaN,0,[],NaN,461257,6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,176279,6980792,461257.0